~*
.DS_Store
*.swp
.idea/

*.pyc

.coverage
.coverage.*
.cache

.ipynb_checkpoints/

SRH_testingnotebook.ipynb
Untitled.ipynb
Notebooks/
Sounding_Retriever_Update.ipynb

dist/*
build/*
*.egg-info
MANIFEST
.eggs/

docs/build/
docs/examples
docs/tutorials
docs/api/generated
examples/scripts
